{% extends 'base.html' %} 

{% block 'content' %} 
<div class="container">

    <div class="row">
        <div class="col mb-4">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>
                    Nuestros Productos
                </h2>
                <p>
                    OnlyFlans nace en el año 2021 buscando entregar flanes de calidad.
                </p>
                <a href="{% url 'acerca' %}" class="btn btn-outline-light">
                    Conoce más
                </a>
            </div>
        </div>
    </div>


    <div class="row">
        {% for flan in public_flans %}
        <div class="col-6 col-md-3">
            <div class="card mb-4" style="">
                <img src="{{ flan.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ flan.name }}
                    </h5>
                    <p class="card-text">
                        {{ flan.description }}
                    </p>
                </div>
            </div>
        </div> 
        {% endfor %}
    </div>

</div>

<div class="suscribete text-center">
    <div class="suscribete_news">
    <h2>SUSCRÍBETE EN NUESTRO NEWSLETTER</h2>
    <h3> y obtén los mejores descuentos en nuestro nuevos productos</h3>
    <h1><span>Onlyflans</span></h1>
    <a href="{% url 'contacto' %}" rol="button" class="newsletter btn btn-outline-light mt-5">Empezar</a>
    </div>
</div>

{% endblock %} 


